<!-- Banner Section -->
<section id="ms-banner-section" class="ms-contact-bnr">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 class="text-white ms-font-weight-900">Contact</h1>
              <div class="ms-seperator my-4"></div>
              <h5 class="pt-1 font-weight-normal text-white"><a class="text-white" $href="/">Home</a> / Contact</h5>
          </div>
      </div>
  </div>
</section>

<!-- Contact Page Content -->
<section id="ms-contact-section" class="ms-sec-padding ms-special-footer-pad">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="ms-font-weight-900 all-caps">Contact Us - You Choose !</h2>
          <div class="ms-spacer-30"></div>
          <p>We are contactable in a many number of ways to suit you. We now have a Live Chat system which is now on our website 24 hours a day, 7days a week. Look to your lower right and you should see the pop-up to start a chat. Quite handy when you at work or can't talk on the phone. We also have an online quoting for live arrivals, next availble times for car services, and repairs - simply use the links below. You may prefer to use the email, call, visit, or send a message so simply use any of the options below.</p>
          <div class="contact-options-link">
            <a href="tel:+2347036794115">
              <i class="ion ion-android-car"></i>
              <span>Call a mechanic or technician</span>
            </a>

            <a $href="get-a-quote">
              <i class="ion ion-android-drafts"></i>
              <span>Get A Quote</span>
            </a>

            <a $href="book-online">
              <i class="ion ion-android-calendar"></i>
              <span>Book A Job</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-5">
              <h2 class="ms-font-weight-900">INFORMATION</h2>
              <div class="ms-spacer-30"></div>
              <h5 class="font-weight-bold">Address</h5>
              <p class="mb-0">Plot 826, off lokogoma Expressway <br>behind Global Plaza kaura district,<br>Abuja, Nigeria</p>
              <div class="ms-spacer-30"></div>
              <h5 class="font-weight-bold">Technical Support</h5>
              <p class="mb-0">Get advanced level support from us.</p>
              <a href="mailto:info@autofixer.com.ng"><p class="d-inline-block ms-font-red mb-0"><u>info@autofixer.com.ng</u></p></a><br>
              <a href="tel:+2348066245523"><p class="d-inline-block ms-font-red mb-0"><u>08066245523</u></p></a>
              <div class="ms-spacer-30"></div>
              <h5 class="font-weight-bold">Customer Care</h5>
              <a href="tel:+2347045543003"><p class="d-inline-block ms-font-red mb-0"><u>070 4554 3003</u></p></a>
              <div class="ms-spacer-30"></div>
              <h5 class="font-weight-bold">Connect With Us</h5>
              <div class="ms-social-icon mt-3 mb-3 mb-md-0">
                  <a href="https://www.facebook.com/Autofixerng/" target="_blank"><i class="fab fa-facebook-f ms-icon mr-2"></i></a>
                  <a href=" tiktok.com/@autofixer_ng" target="_blank"><i class="fab fa-tiktok ms-icon mr-2"></i></a>
                  <a href="Twitter.com/autofixerng" target="_blank"><i class="fab fa-twitter ms-icon mr-2"></i></a>
                  <a href="https://instagram.com/autofixerng?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram ms-icon mr-2"></i></a>
                  <!-- <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter ms-icon"></i></a> -->
              </div>
              
          </div>
          <div class="col-md-7">
              <h2 class="ms-font-weight-900">SEND MESSAGE</h2>
              <div class="ms-spacer-30"></div>
              <p>If after normal operating hours, you are able to leave a message and we will call you back or send an email soon as we can in the morning of the next working day.</p>
              <form method="POST" class="collect-form-data" data-caller="submitContact">
                  <div class="form-row">
                      <div class="form-group col-12">
                          <input type="text" class="form-control form-control-lg rounded-0" id="name" placeholder="Name*">
                      </div>
                      <div class="form-group col-12 col-md-6">
                          <input type="email" class="form-control form-control-lg rounded-0" id="email" placeholder="Email*">
                      </div>
                      <div class="form-group col-12 col-md-6">
                          <input type="tel" class="form-control form-control-lg rounded-0" id="tel" placeholder="Mobile*">
                      </div>
                      <div class="form-group col-12">
                          <textarea class="form-control form-control-lg rounded-0" id="review" rows="7" placeholder="Review*"></textarea>
                      </div>
                  </div>
                  <button type="submit" class="btn ms-primary-btn ms-red-border-btn ms-font-oswald">SUBMIT NOW</button>
              </form>
          </div>
      </div>
  </div>
</section>
