<!-- Banner Section -->
<section id="ms-banner-section" class="ms-abt-bnr">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-white ms-font-weight-900">Frequently Asked Questions</h1>
				<div class="ms-seperator my-4"></div>
				<h5 class="pt-1 font-weight-normal text-white"><a class="text-white" $href="/">Home</a> / FAQ</h5>
			</div>
		</div>
	</div>
</section>

<!-- Faq Section -->
<section id="ms-faq-section" class="ms-sec-padding">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="faq-row">
					<div class="faq-row-icon">
						<i class="ion ion-help-circled"></i>
					</div>
					<div class="faq-row-body">
						<h2>Do you charge for travel time to go and get the parts?</h2>
						<p>No. We only charge for time actually working on the vehicle.</p>
					</div>
				</div>
	
				<div class="faq-row">
					<div class="faq-row-icon">
						<i class="ion ion-help-circled"></i>
					</div>
					<div class="faq-row-body">
						<h2>Will I know how much the car service or car repair will end up or will I get a big surprise?</h2>
						<p>Before AutoFixer commences any work, the mechanic will show you an itemised quote of work required and associated costs - you are always in control of the cost and will not get a nasty surprise.</p>
					</div>
				</div>

				<div class="faq-row">
					<div class="faq-row-icon">
						<i class="ion ion-help-circled"></i>
					</div>
					<div class="faq-row-body">
						<h2>Do I have to pay on the day of the job and how can I pay?</h2>
						<p>Yes. Payment needs to be made at the completion of the job. We accept EFTPOS, all major Credit Cards incl American Express and Diners, Cash, Cheque, Fleetcard, MotorPass and MotorCharge.</p>
					</div>
				</div>

				<div class="faq-row">
					<div class="faq-row-icon">
						<i class="ion ion-help-circled"></i>
					</div>
					<div class="faq-row-body">
						<h2>Do you do repairs as well as services? </h2>
						<p>
							Of course, we have fully equipped mobile workshops and only employ fully qualified and highly trained technicians. Click here <a href="">Car Repairs</a> to find out more. Over 95% of all our work is performed on site at your convenience.
						</p>
					</div>
				</div>

				<div class="faq-row">
					<div class="faq-row-icon">
						<i class="ion ion-help-circled"></i>
					</div>
					<div class="faq-row-body">
						<h2>Are your technicians qualified? </h2>
						<p>Yes we only employ fully qualified technicians that have been in the trade for 4 years or more. AutoFixer also continues their training with internal and external training courses. We do train some apprentices to help the trade but it's the mechanics in control of working on your car.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				<div class="ms-seperator-black my-5"></div>
			</div>
			<div class="col-md-6">
				<h2 class="ms-font-weight-900 mt-0">NEED HELP FROM US ?</h2>
				<h6 class="ms-font-4a4a4a ms-font-roboto-slab mb-4">We Are Closer Than You Think.</h6>
			</div>
			<div class="col-md-6">
				<a $href="contact" class="btn ms-primary-btn ms-primary-btn-two ms-font-oswald mb-4 mb-md-0 float-md-right">CONTACT US</a>
			</div>
		</div>
	</div>
</section>