<!-- Banner Section -->
<section id="ms-banner-section" class="ms-abt-bnr">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-white ms-font-weight-900">What We Do</h1>
				<div class="ms-seperator my-4"></div>
				<h5 class="pt-1 font-weight-normal text-white"><a class="text-white" $href="/">Home</a> / <a class="text-white" href="{func()->url('about-us')}">About Us</a> / What We Do</h5>
			</div>
		</div>
	</div>
</section>

<!-- About Content Section -->
<section id="ms-abt-section" class="ms-sec-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-7 ms-pad-right">
				<h2 class="ms-font-weight-900 mb-4 all-caps">What is the AUTOFIXER difference?</h2>
				<p class="mb-4">Autofixer is focused on providing you with excellent car repair and maintenance services in Nigeria, to keep your car performing in sterling conditions. Autofixer's Car services in Nigeria include battery service, car washing, denting & painting, car detailing, car tyre service, car brake service, car engine maintenance, car AC service and all that you need to get your car fixed. Car Servicing made easy!</p>
				<p>At AutoFixer, we believe that our service represents all of our customer's highest hopes and most stringent expectations for car service; that our company is the ultimate in convenience, friendly service, expertise and pricing that is both competitive and gives control to the customer. We do this through:</p>
				 
			</div>
			<div class="col-md-5">
				<img src="@load-cdn('images', 'about-img2_1.jpg');" class="img-fluid" alt="About Image">
			</div>
		</div>
		<!-- <div class="ms-spacer-100"></div> -->
		<div class="row mb-4 mb-md-0">
			<div class="col-md-12">
				<p class="mb-3 ms-font-111"><i class="fas fa-check-circle ms-font-red ms-icon-size mr-3"></i> Our on-site service, which saves you time, taxi fares and towing fees.</p>
				<p class="mb-3 ms-font-111"><i class="fas fa-check-circle ms-font-red ms-icon-size mr-3"></i> Our standard 12 month/20,000km, nationwide warranty on all parts and labour.</p>
				<p class="mb-3 ms-font-111"><i class="fas fa-check-circle ms-font-red ms-icon-size mr-3"></i> Offering itemised quotes before any work commences, putting you in control of what your repairs cost.</p>
				<p class="mb-3 ms-font-111"><i class="fas fa-check-circle ms-font-red ms-icon-size mr-3"></i> Using only high-quality parts.</p>
				<p class="mb-3 ms-font-111"><i class="fas fa-check-circle ms-font-red ms-icon-size mr-3"></i> Allowing you to see what work is being done on your car - no being ushered out of the workshop.</p>
			</div>
			<div class="col-md-12">
				<p class="mb-3 ms-font-111"><i class="fas fa-check-circle ms-font-red ms-icon-size mr-3"></i> Offering full mechanical services - we organise everything for you.</p>
				<p class="mb-3 ms-font-111"><i class="fas fa-check-circle ms-font-red ms-icon-size mr-3"></i> Keeping our prices competitive. We do not charge for travel time, only for ordinary labour time.</p>
			</div>
		</div>
	</div>
</section>

@partial('specialize');

@partial('testimonials');