<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-e87f1c80-3ae1-4bf0-86a8-623e43010974"></div>

<!-- Footer Section -->
<footer id="ms-footer">
  <div class="ms-footer-top">
      <div class="container">
          <div class="ms-newsletter-box ms-bg-red">
              <div class="row align-items-center">
                  <div class="col-md-5">
                      <h3 class="text-white ms-font-lato font-weight-bold mb-3 mb-md-0 text-center text-md-left">SIGNUP FOR NEWSLETTER</h3>
                  </div>
                  <div class="col-md-7">
                      <form class="form-group mb-0 collect-form-data" data-caller="signUpForNewsletter">
                          <div class="form-group mb-0 position-relative">
                              <input type="email" id="email" required placeholder="Enter email address">
                          </div>
                          <button type="submit" class="btn ms-foot-btn position-absolute">SUBSCRIBE</button>
                      </form>
                  </div>
              </div>
          </div>
          <div class="ms-spacer-100"></div>
          <div class="row">
              <div class="col-md-3 pb-4 pb-md-0">
                  <h5 class="text-white ms-font-21 font-weight-bold mb-4">SITEMAP</h5>
                  <h6 class="ms-font-roboto-slab font-weight-light"><a $href="/">Home</a></h6>  
                  <h6 class="ms-font-roboto-slab font-weight-light"><a $href="about-us">About Us</a></h6>  
                  <h6 class="ms-font-roboto-slab font-weight-light"><a $href="what-we-do">What We Do</a></h6>  
                  <h6 class="ms-font-roboto-slab font-weight-light"><a $href="what-we-dont-do">What We Don't Do</a></h6>  
                  <h6 class="ms-font-roboto-slab font-weight-light"><a $href="testimonials">Testimonials</a></h6>  
                  <h6 class="ms-font-roboto-slab font-weight-light"><a $href="services">Services</a></h6>   
                  <h6 class="ms-font-roboto-slab font-weight-light"><a href="#">Team</a></h6>   
              </div>

            <div class="col-md-3 pb-4 pb-md-0">
                <h5 class="text-white ms-font-21 font-weight-bold mb-4">OTHERS</h5>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a $href="get-a-quote">Get A Quote</a></h6>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a href="@youtube-url;">Videos</a></h6>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a $href="book-online">Booking</a></h6>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a $href="faq">FAQ</a></h6>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a $href="contact">Contact Us</a></h6>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a href="https://server54.web-hosting.com:2096" target="_blank">Staff Email</a></h6>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a href="https://admin.autofixer.com.ng" target="_blank">Administrators</a></h6>  
            </div>

            <div class="col-md-3 pb-4 pb-md-0">
                <h5 class="text-white ms-font-21 font-weight-bold mb-4">SERVICES</h5>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a $href="services/car-diagnosis">Diagnosis</a></h6>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a $href="services/car-maintenance">Maintenance</a></h6>  
                <h6 class="ms-font-roboto-slab font-weight-light"><a $href="services/car-repair">Repair</a></h6>  
            </div>

              <div class="col-md-3 pb-4 pb-md-0">
                  <h5 class="text-white ms-font-21 font-weight-bold mb-4">BUSINESS HOURS</h5>
                  <h6 class="ms-font-roboto-slab font-weight-light mb-4">Monday to Friday:<br> 9:00am to 4:00pm</h6>
                  <h6 class="ms-font-roboto-slab font-weight-light">Vacations:<br> All Sundays<br> All Official Holidays</h6>
              </div>
          </div>
      </div>
  </div>

  <div class="ms-footer-bottom">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-4">
                  <a $href="/"><img src="@load-cdn('images', 'Auto-fixer-logo-cropped.png');" class="footer-small-logo" alt="Logo"></a>
                  <h6 class="ms-font-roboto-slab font-weight-light position-relative">&copy; Copyright @get-launch-year;. Autofixer Nigeria limited. Site by <a href="https://fregatelab.com" target="_blank" style="color: #fff;">FregateLab</a></h6>
              </div>
              <div class="col-md-2 text-md-center my-4 my-md-0">
                  <a class="mr-2 mr-lg-3" href="https://www.facebook.com/Autofixerng/" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
                  <a class="mr-2 mr-lg-3" href="https://instagram.com/autofixerng?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                  <!-- <a href="https://uk.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a> -->
              </div>
              <div class="offset-md-1 col-md-5">
                  <div class="ms-bg-orange text-white">
                      <h5 class="ms-font-weight-900">CONTACT</h5>
                      <h5 class="ms-font-roboto-slab font-weight-light mb-0">Call: <span><a href="tel:+2347045543003" class="text-white">070 4554 3003</a></span></h5>
                      <h5 class="ms-font-roboto-slab font-weight-light mb-1">Email: <span><a href="mailto:info@autofixer.com.ng" class="text-white">info@autofixer.com.ng</a></span></h5>
                      <h5 class="ms-font-roboto-slab font-weight-light">Address: Suite B12, NIPCO Station shopping center, Kuchingoro, Umar Musa Yaradua Express Way, Abuja.</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

</div> <!-- Body Wrapper Ends -->

<!-- Preloader -->
<div class="preloader"></div> 

<!-- javascripts -->
{assets()->loadJs()}

<!-- end body,html -->
</body>
</html>
